  <form [formGroup]="addWorkoutForm" (submit)="addWorkout()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Workout</mat-label>
      <mat-select id="workout" formControlName="workout">
        <mat-option *ngFor="let wo of workouts" [value]="wo">{{
          wo.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="workout?.errors?.['required']">required</mat-error>
    </mat-form-field>
    
    <div
      [matTooltipPosition]="positionOptions[2]"
      matTooltip="Please select a workout."
      [matTooltipDisabled]="addWorkoutForm.valid"
    >
    <button
      type="submit"
      [disabled]="!addWorkoutForm.valid"
      mat-raised-button
      color="primary"
    >
      Add Workout
    </button>
    </div>
  </form>
