<div class="catalogue-content">

<app-catalogue-filter
  (selectedFilters)="selectedFilters($event)"
  [filterOptions]="filterOptions"
></app-catalogue-filter>
<app-exercise-cat-list
  [exercises]="exercises"
  [filters]="filters"
></app-exercise-cat-list>

</div>