<!--
creatorId: 1
description: null
id: 1
imageUrl: null
lastEditorId: 1
name: "Sit-Up"
targetMuscleGroups: (1) […]
videoUrl: null
-->



<li *ngIf="exercise">
    <mat-card>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ exercise.name }}
                </mat-panel-title>
                <mat-panel-description>
                    Muscle group(s): 
                    <span *ngFor="let muscleGroup of exercise.targetMuscleGroups">
                        <pre> {{ muscleGroup }}</pre>
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <img mat-card-image src="{{exercise.imageUrl}}" alt="Exercise image could not be found.">            
            
            <br>Description: {{ exercise.description }} 
            <br><a href="{{exercise.videoUrl}}" target="_blank">Link to video</a>
            <br>Created by: {{ exercise.creatorId }}
            <br>Last edited by: {{ exercise.lastEditorId }}
            
            <section *ngIf="workoutExercise">
                sets: {{ exercise.sets }}
                repetitions: {{ exercise.repetitions }}
            </section>
        
        </mat-expansion-panel>
    </mat-card>

</li>