<mat-form-field appearance="fill">
  <mat-label>Filter By</mat-label>
  <mat-select [(value)]="selected" [formControl]="groups" multiple (selectionChange)="onFilterChange()">
    <mat-option *ngFor="let option of filterOptions" [value]="option">{{option}}</mat-option>
  </mat-select>
</mat-form-field>