<li *ngIf="program">
    <mat-card>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Program name: {{ program.name }}
                </mat-panel-title>
                <mat-panel-description>
                    Program category: {{ program.category }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>Description: {{ program.description }}
            <br>Created by: {{ program.creatorId }}
            <br>Last edited by: {{ program.lastEditorId }}
            <h3>Workouts</h3>    
            <app-workout-cat-list [workouts]="program.workouts"></app-workout-cat-list>
        </mat-expansion-panel>
    </mat-card>

</li>