<h1>Edit your Profile!</h1>


<div class="flex-container">

  <div class="profile-content">

<div *ngIf="loading">
  <div class="center">
    <mat-spinner diameter="100" strokeWidth="4"></mat-spinner>
  </div>
  <p class="loading-message">Loading Profile...</p>
</div>

<p *ngIf="error">Error: {{error}}</p>

<div *ngIf="!loading">
  <app-profile-information-form
    *ngIf="!loading"
    [profileId]="profileId"
    [profile]="profile"
  ></app-profile-information-form>

  <!--
  <app-profile-credentials-form></app-profile-credentials-form>
  -->

</div>
</div>

</div>
