.full-width {
  width: 100%;
}
button {
  margin-top: 1rem;
  margin-right: 1rem;
}
mat-card {
  max-width: 400px;
  margin: 1rem;
  display: inline-table;
}
mat-form-field {
  margin-top: 1rem;
}
.center {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}
.loading-message{
  font-size: 1.5rem;
  display: block;
  color: #3f51b5;
  text-align: center;
  margin-top: 3rem;
}

h1 {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
