    
    <form [formGroup]="addProgramForm" (submit)="addProgram()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choose a program</mat-label>
        <mat-select id="program" formControlName="program">
          <mat-option *ngFor="let program of programs" [value]="program">{{
            program.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="program?.errors?.['required']">required</mat-error>
      </mat-form-field>
      <br>
      <div
      [matTooltipPosition]="positionOptions[2]"
      matTooltip="Please select a Program."
      [matTooltipDisabled]="addProgramForm.valid"
    >
      <button
        type="submit"
        [disabled]="!addProgramForm.valid"
        mat-raised-button
        color="primary"
      >
        Add Program
      </button>
      </div>
    </form>
  
