<h1>Contribute to the Sport Catalogues!</h1>


<div class="flex-container">

  <div class="contribution-content">

<mat-tab-group dynamicHeight backgroundColor="accent" color="primary">
  <mat-tab label="Create Exercise">
    <div class="contribution-component">
      <app-exercise-edit></app-exercise-edit>
    </div>
  </mat-tab>

  <mat-tab label="Create Workout [disabled]" disabled="true">
    <div class="contribution-component">
      <app-workout-edit></app-workout-edit>
    </div>
  </mat-tab>

  <mat-tab label="Create Program">
    <div class="contribution-component">
      <app-program-edit></app-program-edit>
    </div>
  </mat-tab>
</mat-tab-group>

</div>
</div>
