<mat-card>
  <h2>Add Exercises</h2>
  <form [formGroup]="workoutExerciseForm" (submit)="addWorkoutExercise()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Exercise</mat-label>
      <mat-select id="exercise" formControlName="exercise">
        <mat-option *ngFor="let ex of exercises" [value]="ex">{{
          ex.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="exercise?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Sets</mat-label>
      <input
        id="sets"
        type="number"
        formControlName="sets"
        matInput
        placeholder="Enter amount of sets..."
      />
      <mat-error *ngIf="sets?.errors?.['required']"
        >natural number required</mat-error
      >
      <mat-error *ngIf="sets?.errors?.['min']"
        >lowest possible value: 1</mat-error
      >
      <mat-error *ngIf="sets?.errors?.['pattern']"
        >only natural numbers</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Repetitions</mat-label>
      <input
        id="repetitions"
        type="number"
        formControlName="repetitions"
        matInput
        placeholder="Enter repetitions for each set..."
      />
      <mat-error *ngIf="repetitions?.errors?.['required']"
        >natural number required</mat-error
      >
      <mat-error *ngIf="repetitions?.errors?.['min']"
        >lowest possible value: 1</mat-error
      >
      <mat-error *ngIf="repetitions?.errors?.['pattern']"
        >only natural numbers</mat-error
      >
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!workoutExerciseForm.valid"
      mat-raised-button
      color="primary"
      matTooltip="Please fill out required fields before saving."
      [matTooltipPosition]="positionOptions[5]"
      [matTooltipDisabled]="workoutExerciseForm.valid"
    >
      Add exercise to workout
    </button>
  </form>
</mat-card>
