<mat-card>
    <h2>Advanced Settings</h2>
    <button
      type="button"
      (click)="requestContributorStatus()"
      mat-raised-button
      color="accent"
    >
      Request Contributor status
    </button>
    <!-- Probably not needed
    <button type="button" (click)="request2FA()" mat-raised-button color="accent">
      Request 2FA
    </button>-->
  </mat-card>