.full-width {
    width: 100%;
  }
  button {
      margin-top: 1rem;
      margin-right: 1rem;
  }
  mat-card{
    max-width: 400px;
    margin: 1rem;
    display: inline-table;
  }
  mat-form-field{
    margin-top: 1rem;
  }