<h2>workouts</h2>
<mat-list>
    <mat-list-item *ngFor="let workout of workouts">
        {{ workout.name }}
        <button mat-raised-button color="primary" (click)="onAddToGoal(workout)">add to goal</button>
    </mat-list-item>
</mat-list>
