<mat-card>
  
  <h2>Profile Information</h2>
  
  <img [src]="profilePictureUrl" alt="Profile picture" mat-card-md-image>  
    
    
    <form [formGroup]="profileForm" (submit)="submitProfileForm()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input
          id="first-name"
          type="text"
          formControlName="firstName"
          matInput
          placeholder="Enter your first name..."
        />
        <mat-error *ngIf="firstName?.errors?.['required']">required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Last name</mat-label>
        <input
          id="last-name"
          type="text"
          formControlName="lastName"
          matInput
          placeholder="Enter your last name..."
        />
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Weight (kg)</mat-label>
        <input
          id="weight"
          type="number"
          formControlName="weight"
          matInput
          placeholder="Enter your weight..."
        />
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Height (cm)</mat-label>
        <input
          id="height"
          type="number"
          formControlName="height"
          matInput
          placeholder="Enter your height..."
        />
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Birthday</mat-label>
        <input
          id="birthday"
          type="date"
          formControlName="birthday"
          matInput
          placeholder="Enter your birthday..."
        />
      </mat-form-field>
  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Fitness level</mat-label>
        <select
          id="fitness-level"
          formControlName="fitnessLevel"
          matNativeControl
        >
          <option value="BEGINNER">BEGINNER</option>
          <option value="INTERMEDIATE">INTERMEDIATE</option>
          <option value="ADVANCED">ADVANCED</option>
        </select>
        <mat-error *ngIf="fitnessLevel?.errors?.['required']">required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Picture</mat-label>
        <input
          id="picture-url"
          type="url"
          formControlName="pictureUrl"
          matInput
          placeholder="Enter URL to profile picture..."
        />
      </mat-form-field>
  
      <br>

      <div [matTooltipPosition]="positionOptions[5]" matTooltip="Please fill out required fields before saving." [matTooltipDisabled]="profileForm.valid">
      <button
        type="submit"
        [disabled]="!profileForm.valid"
        mat-raised-button
        color="primary"
      >
        Save profile
      </button>
    </div>
      <span *ngIf="saving">Saving...</span>
      <span *ngIf="displaySuccess" class="success">Profile was successfully updated.</span>
      <span *ngIf="displayError" class="error">Profile could not be updated. Please try again later.</span>
    </form>
  </mat-card>