<div fxLayoutAlign="center center" fxFlexFill class="main-div">
<div class="myimage">
    <img [src]="myimage" alt="">
</div>
<mat-card fxFlex="25">
    <mat-toolbar>Login Page</mat-toolbar>

    <form [formGroup]="loginForm" (submit)="doLogin()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    
    <!--
    <mat-form-field class="div1" appearance="fill">
        <mat-label>username</mat-label>
        <input matInput type="text" id="username" formControlName="username">
    </mat-form-field>
    <mat-form-field class="div2" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput type="password" id="password" formControlName="password">
    </mat-form-field>
    -->

<button mat-raised-button type="submit" color="primary" style="margin: 5px;">login</button>

<!--<button mat-raised-button color="accent" class="mt-5" style="margin: 5px;">forgot password?</button>-->

</form>
</mat-card>
</div>
