<mat-card>
  <mat-card-title>Register</mat-card-title>
  <form [formGroup]="credentialsForm" (submit)="submitCredentialsForm()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        id="email"
        type="email"
        formControlName="email"
        matInput
        placeholder="Enter your email..."
      />
        <mat-error *ngIf="email?.errors?.['required']">required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">email format required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        id="password"
        type="password"
        formControlName="password"
        matInput
        placeholder="Enter your password..."
      />
      <mat-error *ngIf="password?.errors?.['required']">required</mat-error>
      <mat-error *ngIf="password?.errors?.['minlength']">minimum length is {{passwordMinlength}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input
        id="confirm-password"
        type="password"
        formControlName="confirmPassword"
        matInput
        placeholder="Confirm your password..."
      />
      <mat-error *ngIf="credentialsForm?.errors?.['passwordsDoNotMatch']">Password and confirmation must match.</mat-error>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!credentialsForm.valid"
      mat-raised-button
      color="primary"
    >
      Register
    </button>
  </form>
</mat-card>