<br>

<mat-form-field [formGroup]="addExerciseForm" class="full-width" appearance="fill">
  <mat-label>Exercise</mat-label>
  <mat-select id="exercise" [(value)]="selectedExercise" formControlName="exercise">
    <mat-option *ngFor="let exercise of exercises" [value]="exercise">{{ exercise.name }}</mat-option>
  </mat-select>
  <mat-error>required</mat-error>
</mat-form-field>

<br />
<mat-label>Number of Repetitions</mat-label>
<br />
<mat-slider
  min="1"
  max="30"
  thumbLabel
  step="1"
  [formControl]="repetitionsControl"
></mat-slider>
<br />
<mat-label>Number of Sets</mat-label>
<br />
<mat-slider
  min="1"
  max="10"
  thumbLabel
  step="1"
  [formControl]="setsControl"
></mat-slider>
<br />
<br>
<button
  mat-raised-button
  color="accent"
  (click)="addToCustomWorkout()"
  [disabled]="!selectedExercise"
>
  Add Exercise to Workout
</button>


<div class="custom-workout" *ngIf="customWorkout && customWorkout.exercises.length > 0">
  <br>
  <h4>Edit custom Workout:</h4>
  
    <span class="list-center" style="display: block important;" *ngFor="let exercise of customWorkout.exercises">{{
      exercise.name
    }}</span>
  
  <button mat-raised-button color="primary" (click)="addCustomWorkout()">
    Add custom Workout to Goal
  </button>
</div>
