mat-form-field {
  width: 20rem;
  margin: 0.5rem;
}
button {
  margin: .5rem;
}
mat-card {
  margin: 2rem;
  display: inline-table;
  background-color: white;
}
img{
    margin: .5rem;
    width: 20rem;
}
.success {
  color: green;
}
.error {
  color: red;
}