<mat-card>
  <h2>Exercise Info</h2>

  <form [formGroup]="exerciseForm" (submit)="submitExerciseForm()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        id="name"
        type="text"
        formControlName="name"
        matInput
        placeholder="Enter exercise name..."
      />
      <mat-error *ngIf="name?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input
        id="description"
        type="text"
        formControlName="description"
        matInput
        placeholder="Enter description..."
      />
      <mat-error *ngIf="description?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Target Muscle Group(s)</mat-label>
      <mat-select
        id="target-muscle-group"
        formControlName="targetMuscleGroup"
        multiple
      >
        <mat-option
          *ngFor="let muscleGroup of muscleGroupValues"
          [value]="muscleGroup"
          >{{ muscleGroup }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="targetMuscleGroup?.errors?.['required']"
        >required</mat-error
      >
    </mat-form-field>

    <!-- TODO -->
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Video Link</mat-label>
      <input
        id="video-link"
        type="url"
        formControlName="videoLink"
        matInput
        placeholder="Enter video link..."
      />
    </mat-form-field>

    <!-- TODO -->
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Image</mat-label>
      <input type="text" id="image" formControlName="image" matNativeControl />
      <mat-error *ngIf="image?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <img
      [src]="exercisePictureUrl"
      alt="Cannot find provided exercise picture"
      mat-card-image
    />

    <br />

    <div
      [matTooltipPosition]="positionOptions[4]"
      matTooltip="Please fill out required fields before saving."
      [matTooltipDisabled]="exerciseForm.valid"
    >
      <button
        type="submit"
        [disabled]="!exerciseForm.valid"
        mat-raised-button
        color="primary"
      >
        Save exercise
      </button>
    </div>
    <span *ngIf="loading">Loading...</span>
    <span *ngIf="displaySuccess" class="success"
      >Exercise was successfully saved.</span
    >
    <span *ngIf="displayError" class="error"
      >Exercise could not be updated. Please try again later.</span
    >
  </form>
</mat-card>
