<li *ngIf="workout">
    <mat-card>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Workout name: {{ workout.name }}
                </mat-panel-title>
                <mat-panel-description>
                    Workout type: {{ workout.type }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>Description: {{ workout.description }}
            <br>Created by: {{ workout.creatorId }}
            <br>Last updated by: {{ workout.lastEditorId }}
            
            <h3>Exercises</h3>
            <app-exercise-cat-list [exercises]="workout.exercises"></app-exercise-cat-list>
        </mat-expansion-panel>
    </mat-card>

</li>