<div class="catalogue-content">
<app-catalogue-filter (selectedFilters)="selectedFilters($event)" [filterOptions]="filterOptions"></app-catalogue-filter>
<app-program-cat-list [programs]="programs" [filters]="filters"></app-program-cat-list>
</div>