mat-form-field {
  width: 20rem;
  margin: 0.5rem;
}
button {
  margin: .5rem;
}
mat-card {
  margin: 2rem;
  display: inline-table;
  
}
img{
    margin: .5rem;
}
.success {
  color: green;
}
.error {
  color: red;
}

.mat-toolbar, mat-toolbar{
  background-color:#1565c0;
  color: white;
}