<div class="catalogue-content">
  <app-catalogue-filter (selectedFilters)="selectedFilters($event)" [filterOptions]="filterOptions"></app-catalogue-filter>
  <app-workout-cat-list [workouts]="workouts" [filters]="filters"></app-workout-cat-list>
</div>