<h2>programs</h2>
<mat-list>
    <mat-list-item *ngFor="let program of programs">
        {{ program.name }}
        <button mat-raised-button color="primary" (click)="onAddToGoal(program.workouts)">add to goal</button>
    </mat-list-item>
</mat-list>
