@use '@angular/material' as mat;
@import "../node_modules/@angular/material/theming";


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar, mat-toolbar{
    background-color:#1565c0;
    color: white;
}

.catalogue-content{
    margin: 2rem;
    padding: 1rem;
    min-width: 500px;
    background-color:white;
    border-radius: .5rem;
}

.flex-container{
    display: flex;
    justify-content: center;
    background-color:#1565c0;
}

.profile-content{
    width: 60%;
}

.contribution-content{
    width: 80%;
}



/*

    THEMEING

*/

@include mat.core();

$my-primary: mat-palette($mat-red, 600);
$my-accent: mat-palette($mat-blue, 800);

//$my-theme: mat-light-theme($my-primary, $my-accent);
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include angular-material-theme($my-theme);
// HAS THE SAME EFFECT
// @include all-component-themes($my-theme);

// THIS DOES NOT WORK BUT IS IN THE EXAMPLES
// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);



