<h1>Work on your Goal!</h1>




  <div *ngIf="currentGoal == undefined">


    <div class="flex-container">

    <div class="dashboard-content">
          <mat-tab-group dynamicHeight="false">
            <mat-tab label="Add a Program">
              <app-program-add
                (selectedProgramEvent)="addWorkouts($event.workouts)"
                class="addPanel"
              ></app-program-add>
            </mat-tab>
            <mat-tab label="Add an existing Workout">
              <app-workout-add
                (selectedWorkoutEvent)="addWorkout($event)"
                class="addPanel"
              ></app-workout-add>
            </mat-tab>
            <mat-tab label="Add a custom Workout">
              <app-custom-workout-creator
                (CustomWorkoutEvent)="addWorkout($event)"
                class="addPanel"
              >
              </app-custom-workout-creator>
            </mat-tab>
          </mat-tab-group>
        </div>
    
        <div class="dashboard-content">
          <div class="center">
            <h1>Your Goal</h1>
            <span *ngIf="addedWorkouts.length === 0">... does not contain any workouts yet. Get started by adding a Program, Workout or custom Workout.</span>
            <div *ngIf="addedWorkouts.length > 0">
              
              <div>
                <span
                  *ngFor="let addedWorkout of addedWorkouts"
                  href="#"
                >
                  {{ addedWorkout.name }}
                  <button
                    mat-raised-button
                    color="accent"
                    (click)="deleteWorkout(addedWorkout)"
                  >
                    Remove
                  </button>
                  <br>
                </span>
              </div>

              <button mat-raised-button color="primary" (click)="createGoal()">
                Set as Goal
              </button>
            </div>
          </div>
        </div>

    </div>

  </div>

  <div class="flex-container" *ngIf="currentGoal">
  <mat-card>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <h3>{{ daysLeft }} days left to complete this goal</h3>
    <h2>Your current Goal</h2>
    <div>
      <ul *ngIf="currentGoal">
        <mat-list-item *ngFor="let workout of currentGoal.workouts">
          <button id="btn-{{workout.name}}"
            mat-raised-button
            color="primary"
            (click)="completeWorkout(workout)"
          >
            Click here when you completed: "{{ workout.name }}"
          </button>
        </mat-list-item>
      </ul>
      <br><br>
      <ul *ngIf="currentGoal">
        <mat-list-item
          *ngFor="let workout of currentGoal.completedWorkouts"
          id="completedWorkoutsList"
        >
          <p class="confirmation">"{{ workout.name }}" completed!</p>
        </mat-list-item>
      </ul>
    </div>
  </mat-card>
  <!-- </mat-grid-tile> -->
</div>