.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div {
    background-color: white;
    margin: 2rem;
  }




h1 {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dashboard-content {
    width: 40%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: .3rem;
}

mat-grid-list{
    height: 500px;
}

button{
    margin: 2rem;
}

.mat-card{
    color: black;
    margin:2rem;
}

.addPanel{
    margin: 2rem;
    margin-left: 5rem;
}

#completedWorkoutsList{
    // position: relative;
    color: #e53935;
    // float: right;
}

ul {
    display: inline-block;
    *display: inline;
    zoom: 1
}

.confirmation{
    color:black;
}

.horizontal, center{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}