<mat-toolbar *ngIf="this.router.url != '/login' && this.router.url !='/'">
    MeFit
    <a mat-button routerLink="/contribution">Contribute</a>
    <a mat-button routerLink="/catalogue">Catalogue</a>
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/profile">Profile</a>
    <a mat-button (click)="handleLogout()"> Log out </a>
</mat-toolbar>

<mat-toolbar *ngIf="this.router.url == '/login' || this.router.url=='/'">
    MeFit
</mat-toolbar>



