<mat-card>
  <h2>Workout Info</h2>

  <form [formGroup]="workoutBasicsForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        id="name"
        type="text"
        formControlName="name"
        matInput
        placeholder="Enter name..."
      />
      <mat-error *ngIf="name?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Type(s)</mat-label>
      <mat-select id="type" formControlName="type" multiple>
        <mat-option
          *ngFor="let workoutType of workoutTypeValues"
          [value]="workoutType"
          >{{ workoutType }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="type?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Creator ID</mat-label>
      <input
        id="creator-id"
        type="text"
        formControlName="creatorId"
        matInput
        placeholder="readonly, autofill"
      />
    </mat-form-field>
  </form>
</mat-card>

<app-exercise-add
  (selectedWorkoutExerciseEvent)="addWorkoutExercise($event)"
  class="card-component"
></app-exercise-add>

<mat-card>
  <h2>Workout Plan</h2>
  <br />

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let ex of addedExercises" cdkDrag>
      {{ ex.name }} - {{ ex.sets }} Sets - {{ ex.repetitions }} Repetitions
      <button type="button" (click)="removeExerciseFromWorkout(ex)">
        Delete
      </button>
    </div>
  </div>

  <button
    type="button"
    [disabled]="!workoutBasicsForm.valid || addedExercises.length < 1"
    mat-raised-button
    color="primary"
    (click)="saveWorkout()"
    matTooltip="Please fill out required fields and add at least one exercise."
    [matTooltipPosition]="positionOptions[5]"
    [matTooltipDisabled]="workoutBasicsForm.valid && addedExercises.length >= 1"
  >
    Save workout
  </button>
</mat-card>
