<div class="flex-container">


<mat-card>
  <h2>Program Info</h2>
  <form [formGroup]="programBasicsForm">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        id="name"
        type="text"
        formControlName="name"
        matInput
        placeholder="Enter name..."
      />
      <mat-error *ngIf="name?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select id="category" formControlName="category">
        <mat-option
          *ngFor="let programCategory of programCategoryValues"
          [value]="programCategory"
          >{{ programCategory }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="category?.errors?.['required']">required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input
        id="description"
        type="text"
        formControlName="description"
        matInput
        placeholder="Enter description..."
      />
      <mat-error *ngIf="description?.errors?.['required']">required</mat-error>
    </mat-form-field>
  </form>
</mat-card>

<mat-card>
<!-- output: selected workout -->
<h2>Add Workouts</h2>
<app-workout-add
  (selectedWorkoutEvent)="addWorkout($event)"
></app-workout-add>


  <h2>Selected Workouts</h2>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let programWorkout of addedWorkouts"
      cdkDrag
    >
      {{ programWorkout.name }}
      <button type="button" (click)="removeWorkoutFromProgram(programWorkout)">
        Delete
      </button>
    </div>
  </div>

  <div
      [matTooltipPosition]="positionOptions[2]"
      matTooltip="Please fill out required fields and add at least one workout."
      [matTooltipDisabled]="programBasicsForm.valid && addedWorkouts.length >= 1"
    >
  <button
    type="button"
    (click)="saveProgram()"
    [disabled]="!programBasicsForm.valid || addedWorkouts.length < 1"
    mat-raised-button
    color="primary"
  >
    Save program
  </button>
  </div>
  <span *ngIf="loading">Loading...</span>
  <span *ngIf="displaySuccess" class="success">Program with workouts successfully saved.</span>
  <span *ngIf="displayError" class="error">Could not save program with workouts. Please try again later.</span
  >
</mat-card>

</div>