<h1>Find your Training in our Sports Catalogues!</h1>


<div class="flex-container">

  <div class="contribution-content">

<mat-tab-group backgroundColor="accent" color="primary">
    <mat-tab label="Exercise Catalogue" class="catalogue-color">
        <app-exercise-catalogue></app-exercise-catalogue>
    </mat-tab>
    <mat-tab label="Workout Catalogue" class="catalogue-color">
        <app-workout-catalogue></app-workout-catalogue>
    </mat-tab>
    <mat-tab label="Program Catalogue" class="catalogue-color">
        <app-program-catalogue></app-program-catalogue>
    </mat-tab>
</mat-tab-group>

</div>
</div>