h1 {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
label {
    color: white;
}

mat-tab-group{
    color: white;
}

.mat-tab-label-active{
    color:white;
}